:root {
    --header-height: 70px;
    --nav-width: 260px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --z-fixed: 100;
}

.btn {
    background: var(--first-color) !important;
    border: 1px solid var(--first-color) !important;
}
